<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <label for="username">username: </label> <br>
    <input type="text" name="username" id="username"> <br>
    <label for="password">password: </label> <br>
    <input type="text" name="password" id="password"> <br>
    <input type="button" id="loginBtn" value="Login" style="margin-top: 10px">

    <script src="/js/login.js"></script>
</body>
</html>