<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <label for="username">username : </label> <br />
    <input type="text" name="username" id="username" /> <br />
    <label for="password">password : </label> <br />
    <input type="text" name="password" id="password" /> <br />
    <label for="firstname">firstname : </label> <br />
    <input type="text" name="firstname" id="firstname" /> <br />
    <label for="lastname">lastname :</label> <br />
    <input type="text" name="lastname" id="lastname" /> <br />

    <select name="gender" id="gender" style="margin-top: 10px">
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="other">Rather not say</option>
    </select> <br>
    <button id="registerBtn" style="margin-top: 10px;">Register</button>
  </body>
  <script src="/js/register.js"></script>
  <script src="/js/registerVal.js"></script>
</html>
